#include "corchibi.dtsi"
#include <dt-bindings/pinctrl/nrf-pinctrl.h>
#include <dt-bindings/zmk/input_transform.h>
#include <input/processors.dtsi>

&default_transform {
    col-offset = <6>;
};

&kscan0 {
    compatible = "zmk,kscan-gpio-charlieplex";
    gpios
        = <&gpio0 3 (GPIO_ACTIVE_HIGH)>
        , <&gpio0 28 (GPIO_ACTIVE_HIGH)>
        , <&gpio0 29 (GPIO_ACTIVE_HIGH)>
        , <&gpio1 11 (GPIO_ACTIVE_HIGH)>
        , <&gpio1 15 (GPIO_ACTIVE_HIGH)>
        , <&gpio1 14 (GPIO_ACTIVE_HIGH)>
        ;
};

&pinctrl {
    i2c0_default: i2c0_default {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 9)>, <NRF_PSEL(TWIM_SCL, 0, 10)>;
        };
    };
    i2c0_sleep: i2c0_sleep {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 9)>, <NRF_PSEL(TWIM_SCL, 0, 10)>;
            low-power-enable;
        };
    };
};

/ {
    // 外部モジュールを使用した高度な加速度ノードの定義
    zip_pointing_accel: zip_pointing_accel {
        compatible = "zmk,input-processor-pointing-acceleration";
        min-factor = <1000>; // 1000 = 1倍（ゆっくり動かす時はそのままの速度）
        max-factor = <5000>; // 5000 = 最大で5倍まで加速
        speed-threshold = <500>; // 動かす速さが500カウント/秒を超えると加速が始まる
        speed-max = <2000>; // 動かす速さが2000に達すると、最大の5倍ゲインになる
        acceleration-exponent = <2>; // 2次曲線（徐々に強くなるスムーズな加速カーブ）
    };

    // 右手用スクロールリスナー（スクロール専用）
    trackball_listener_R_scroll: trackball_listener_R_scroll {
        compatible = "zmk,input-listener";
        status = "okay";
        device = <&trackball_R_scroll>;
        input-processors =
            <&zip_xy_to_scroll_mapper>,
            <&zip_scroll_scaler 1 4>;
    };
};

// 右手用メインリスナー（マウス移動用）
&trackball_listener_R {
    status = "okay";
    device = <&trackball_R>;
    input-processors = 
        // ここで上で定義した加速度ノードを適用
        <&zip_pointing_accel>,
        <&zip_xy_scaler 1 1>;
};

&i2c0 {
    status = "okay";
    compatible = "nordic,nrf-twim";
    pinctrl-0 = <&i2c0_default>;
    pinctrl-1 = <&i2c0_sleep>;
    pinctrl-names = "default", "sleep";
    clock-frequency = <I2C_BITRATE_FAST>;
    #address-cells = <1>;
    #size-cells = <0>;

    // 0x73: マウスカーソル (Contru1)
    trackball_R: trackball_R@73 {
        compatible = "pixart,pat912x";
        reg = <0x73>;
        status = "okay";
        motion-gpios = <&gpio1 12 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        res-x-cpi = <1200>;
        res-y-cpi = <1200>;
        zephyr,axis-x = <INPUT_REL_X>;
        zephyr,axis-y = <INPUT_REL_Y>;
    };

    // 0x75: スクロール (Contru2)
    trackball_R_scroll: trackball_R_scroll@75 {
        compatible = "pixart,pat912x";
        reg = <0x75>;
        status = "okay";
        motion-gpios = <&gpio0 5 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        res-x-cpi = <600>;
        res-y-cpi = <600>;
        zephyr,axis-x = <INPUT_REL_X>;
        zephyr,axis-y = <INPUT_REL_Y>;
    };
};